<div ui-content-for="title">
  <span>{{i18n.Students}}</span>
</div>

<div ng-controller="MainController">
    <div ui-content-for="navbarMenu">
      <div class="btn">
        <button type="button" class="btn btn-link" ng-click="back()"><i class="fa fa-arrow-left"></i></button>
      </div>
    </div>

	<div ui-content-for="navbarAction">
       <div class="btn">
           <button type="button" class="btn btn-link" ng-click="addStudent_Click()" ng-hide="addStudent"><i class="fa fa-plus"></i></button>
           <button type="button" class="btn btn-link" ng-click="addStudent_Click()" ng-show="addStudent"><i class="fa fa-minus"></i></button>
       </div>
    </div>

<div class="scrollable">
	<div class="section animate-show" ng-show="addStudent">
		<form role="form">
			<fieldset>
				<div class="form-group">
					<label>{{ i18n.Class  }}</label>
					<select class="form-control" ng-model="student.classroom">
					    <option ng-repeat="option in classVO" value="{{option.code}}">{{option.name}}</option>
					</select>
				</div>
			
				<div class="form-group">
                    <label>{{ i18n.Name }}</label>
					<input type="text" class="form-control" name="name" ng-model="student.name" />
				</div>
				<div class="form-group">
                    <label>{{ i18n.Email }}</label>
					<input type="email" class="form-control" name="email" ng-model="student.email" />
				</div>
				<div class="form-group">
                    <label>{{ i18n.Password }}</label>
					<input type="text" class="form-control" name="password" ng-model="student.password" />
				</div>
				<div class="form-group">
					<input type="checkbox" name="teacher" value="1" ng-model="student.teacher" />{{i18n.Teacher}}?
				</div>
				<div class="form-group">
					<button type="button" ng-click="saveStudent()" class="btn btn-primary btn-block">{{i18n.Save}}</button>
				</div>
			</fieldset>
		</form>     
	</div>

 <div class="scrollable-content">
    <div class="list-group">
      <span ng-repeat="item in studentVO" class="list-group-item">
        {{ item.name }}       <a href="" ng-click="removeStudent(item)"><i class="fa fa-trash pull-right"></i></a>
      </span>
    </div>
 </div>
</div>
</div>
